.container {
    width: 1000px;
    margin: auto;
    margin-top: -10px;
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}
.header {
    background-color: rgba(175, 238, 238, 0.432);
    padding: 0px;
}
.header h1 {
    color: rgba(32, 156, 178, 0.651);
    font-family: cursive;
    text-align: center;
}
.header h2 {
    color:rgba(32, 156, 178, 0.651);
    text-align: center;
}
#mountain{
    width: 50%;
    display: block;
    margin:auto;
    text-align: center;   
}
#cloud1{
    width: 13%;
    padding-top: 30px;
    padding-left: 64%;
}
#cloud2{
    width: 13%;
    padding-left: 20%;
    
}
#unhas {
    width: 16%;
    padding-top: 50px;
    display: block;
    margin: 0px auto;
    text-align: center;
}
.p {
    text-align: center;
    padding: 0px 310px 30px 310px;
}
#h2 {
    text-align: center;
    font-family: Calibri Light;
    font-size: 30px;
    padding: 10px;
    color:rgb(81, 193, 212);
}
.p-ahli1 {
    padding-right: 160px;
    padding-bottom: 40px;
}
.h-ahli1{
    padding-top: 20px;
    color:rgb(57, 160, 207); 
}
.p-ahli2 {
    padding-left: 160px;
    padding-bottom: 115px;
}
.h-ahli2{
    padding-left: 160px;
    padding-top: 15px;
    color:rgb(57, 160, 207); 
}
#hr {
    border:none;
    border-top:15px dotted rgba(128, 128, 128, 0.342);
    color:#fff;
    background-color:#fff;
    height:6px;
    width:7%;
}
.img1 {
    float: left;
    width: 150px;
    height: 150px;
    margin: 0px;
    padding: 0px 10px 10px 150px; 
}
.img2 {
    float: right;
    width: 150px;
    height: 150px;
    margin: 0px;
    padding: 0px 150px 10px 10px; 
}
.kontak {
    text-align: center;
    padding-bottom: 30px;
}
.kontak h3{
    color:rgb(57, 160, 207);
}
.button{
	background-color:  rgba(32, 156, 178, 0.651);
	padding: 8px 15px;
	color: #FFF;
	border-radius: 5px;
    text-decoration: none;
}
.button:hover{
	background-color: rgba(32, 156, 178, 0.651);
}
.footer {
    background-color : rgba(32, 156, 178, 0.651);
    padding: 10px 0px 20px 0px;
    text-align: center;
    
}
.footer-link{
	text-decoration: none;
	color: #DDD;
	padding-left: 15px;
}
.footer-link:hover{
	color: #FFF;
}
.copyright {
    color: white;
}